.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    width: 30vw;

    background-color: #1c1c1c;
}

.form-label {
    font-size: 0.8vw;
    margin-bottom: 2vh;
    text-align: left;
    text-indent: 1vw;
    width: 100%;
}

.form-input {
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 1vw;
    width: 100%;
    height: 3vh;
    margin-top: 2vh;

    font-size: 0.8vw;
    outline: none;
    transition: background-color 1s;
}

.form-input:hover {
    background-color: #cccccc;
    transition: 1s;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3vh;
    padding: 1vw;

    background-color: #4adf86;
    border: none;
    border-radius: 1.2vw;

    color: #fff;
    font-size: 0.8vw;
    font-weight: bold;

    cursor: pointer;
    transition: .6s;
}

.form-button:hover {
    background-color: rgb(49, 49, 49);
    color: #4adf86;
    transition: .6s;
}