
:root {
  --color-valid: #4adf86;
  --color-dark: #3a3a3a;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.parallax{
  background-image: url('../../images/newspaper_bkg.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-position: center;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.tophome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 80vh;
}

.top-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: var(--color-valid);
  background-color: var(--color-dark);
  padding: 1vh;
}

.top-img {
  width: auto;
  height: 30vh;
  padding: 3vh;
}

.top-button {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    padding: 2vw;
    margin-top: 5vh;

    background-color: #4adf86;
    border: transparent solid 4px;
    border-radius: 2vw;

    color: #fff;
    font-size: 1.8vw;
    font-weight: bold;

    cursor: pointer;
    transition: .6s;
}

.top-button:hover {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  border: var(--color-valid) solid 4px;
  transition: .6s;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4adf86;
  padding-top: 1vh;
  padding-bottom: 5vh;
  width: 100%;
}

.card {
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
}

.container-card-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: var(--color-dark);
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.card-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.media-companies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  padding: 2vh;
  width: 100%;
}

.container-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.imgFormat {
  width: 10vw;
  padding: 3vh;
  transition: transform 0.3s;
}

.imgFormat:hover {
  transform: scale(1.4);
}

.note {
  padding-top: 4vh;
  font-size: 1vw;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-valid);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-valid);
}